* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

p {
  margin-bottom: 0rem;
}

a,
span,
button,
div {
  font-family: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat.woff") format("woff"), url("../fonts/montserrat.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserratbold.woff") format("woff"), url("../fonts/montserratbold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

.anim-top {
  -webkit-transform: translate(0px, -30px);
      -ms-transform: translate(0px, -30px);
          transform: translate(0px, -30px);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0;
}

.anim-bottom {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
      -ms-transform: translate(0px, 30px);
          transform: translate(0px, 30px);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.anim-left {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
      -ms-transform: translate(-30px, 0px);
          transform: translate(-30px, 0px);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.anim-right {
  -webkit-transform: translate(30px, 0px);
      -ms-transform: translate(30px, 0px);
          transform: translate(30px, 0px);
  opacity: 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.anim-opacity {
  opacity: 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.__anim-item .title::before {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.__anim-item .title span {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.__anim-item .works-slide {
  -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.__active {
  opacity: 1;
  -webkit-transform: translate(0px);
      -ms-transform: translate(0px);
          transform: translate(0px);
}

.__active .anim-top {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.__active .anim-bottom {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.__active .anim-left {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.__active .anim-right {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.__active .anim-opacity {
  opacity: 1;
}

.__active .title::before {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.__active .title span {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.__active .works-slide {
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.d-3s {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.d-5s {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.d-7s {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.d-9s {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.d-11s {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-delay: 1.1s;
       -o-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.d-13s {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-delay: 1.3s;
       -o-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.d-15s {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.body .lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: 'Montserrat', sans-serif;
}

.limiting {
  max-width: 1025px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.title::before {
  content: '';
  display: block;
  margin-right: 10px;
  background-color: #002EFE;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.header {
  width: 100%;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 50;
  background-color: #fff;
  padding: 0px 10px;
  -webkit-box-shadow: 0px 0px 5px #000;
          box-shadow: 0px 0px 5px #000;
}

.header__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-shadow: 0px 0px 22px rgba(180, 180, 180, 0.62);
          box-shadow: 0px 0px 22px rgba(180, 180, 180, 0.62);
  border-radius: 7.61848px;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 241px;
          flex: 0 0 241px;
  margin-right: 10px;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  position: relative;
}

.header__logo .logo__wrapper {
  background-color: #fff;
  border-radius: 7.61848px;
  border-bottom-right-radius: 0px;
  height: 125%;
}

.header__logo:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -50%;
  left: 0;
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
  border: 17px solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 0 solid transparent;
  border-left: 241px solid #fff;
  border-top-left-radius: 7.61848px;
  -webkit-box-shadow: 0px 0px 22px rgba(180, 180, 180, 0.62);
          box-shadow: 0px 0px 22px rgba(180, 180, 180, 0.62);
}

.header__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 690px;
          flex: 0 1 690px;
  height: 100%;
}

.header__nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__nav ul li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.header__nav ul a {
  padding: 0px 5px;
  color: #000000;
  font-size: 11px;
}

.header__nav ul a:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0189FF;
  position: absolute;
  bottom: 0px;
  left: 0%;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__nav ul a:hover:before {
  opacity: 1;
  bottom: 0px;
  left: 0px;
}

.logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

.logo h2 {
  color: #002EFE;
  font-size: 23.1008px;
  font-weight: 700;
  margin-right: 10px;
}

.logo p {
  font-weight: 400;
  font-size: 9.0753px;
  color: #000000;
}

.burger-icon {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 17px;
  position: relative;
}

.burger-icon span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #002EFE;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.burger-icon:before,
.burger-icon::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: #002EFE;
  position: absolute;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.burger-icon:after {
  top: 0px;
}

.burger-icon:before {
  bottom: 0px;
  right: 0px;
  width: 60%;
}

.burger-icon.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
  bottom: 9px;
}

.burger-icon.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
}

.burger-icon.active span {
  opacity: 0;
}

.burger-menu {
  position: fixed;
  padding: 0 10px;
  padding-top: 80px;
  width: 100%;
  min-height: 100vh;
  top: -100%;
  left: 0px;
  background-color: #fff;
  z-index: 10;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: none;
}

.burger-menu li {
  font-size: 30px;
  margin-bottom: 20px;
}

.burger-menu li a {
  color: #002EFE;
  font-weight: 700;
}

.burger-menu.active {
  top: 0%;
}

.home {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 0px 10px;
}

.home__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}

.home__wrapper {
  padding: 100px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.home__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 481px;
          flex: 0 1 481px;
}

.home h2 {
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 20px;
  background: -o-radial-gradient(44.28% 59.09%, 40.91% 96.62%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #0189FF;
  background: radial-gradient(40.91% 96.62% at 44.28% 59.09%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #0189FF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.home__sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 321px;
  margin-bottom: 70px;
}

.home__sub-title svg {
  margin-right: 10px;
}

.home__sub-title p {
  font-size: 15px;
  color: #5E5E5E;
  line-height: 1.2;
}

.home__btn {
  width: 381.63px;
  height: 89.11px;
  display: block;
  border-radius: 8.00762px;
  font-size: 15px;
  font-weight: 700;
  border: solid 1px #002EFE;
  text-transform: uppercase;
  font-family: inherit;
}

.home__btn span {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -o-radial-gradient(59.68% 55.7%, 88.65% 368%, rgba(255, 255, 255, 0.29) 0%, rgba(255, 255, 255, 0) 100%), #002EFE;
  background: radial-gradient(88.65% 368% at 59.68% 55.7%, rgba(255, 255, 255, 0.29) 0%, rgba(255, 255, 255, 0) 100%), #002EFE;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.home__btn span:hover {
  color: #002EFE;
  background: transparent;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.home__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 58px;
}

.home__fgr-bottom {
  width: 100%;
  height: 50px;
  z-index: 1;
  position: absolute;
  bottom: -21px;
  left: 0px;
  background-color: #fff;
}

.home__fgr-bottom > svg {
  position: absolute;
  width: 100%;
  left: 0px;
}

.home__fgr-bottom:before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 50px;
  bottom: -40px;
  z-index: -1;
}

.vector-desctop {
  top: -66%;
}

.vector-mobile {
  display: none;
}

.advantage-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 229px;
          flex: 0 0 229px;
  margin-right: 3px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5E5E5E;
  line-height: 1.3;
  font-size: 15px;
}

.advantage-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 10px;
}

.btn-to-bottom {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #002EFE;
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  top: -60%;
}

.btn-to-bottom svg {
  margin-left: 1px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn-to-bottom svg:first-child {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.btn-to-bottom svg:last-child {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.btn-to-bottom:hover svg {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.btn-to-bottom:hover svg:first-child {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.btn-to-bottom:hover svg:last-child {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.about {
  padding: 50px 10px;
  position: relative;
  padding: 100px 10px;
}

.about__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0%;
  z-index: -1;
}

.about__bg img {
  position: absolute;
}

.works {
  overflow: hidden;
  padding: 100px 10px;
}

.works__body {
  width: 100%;
}

.works__swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__footer {
  margin-top: 41px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-swiper__btns {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 133px;
          flex: 0 1 133px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-swiper__btns .swiper-button-prev,
.works-swiper__btns .swiper-button-next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #012FFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 12px 30px -4px rgba(1, 47, 254, 0.4);
          box-shadow: 0px 12px 30px -4px rgba(1, 47, 254, 0.4);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.works-swiper__btns .swiper-button-prev:active,
.works-swiper__btns .swiper-button-next:active {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0px 12px 4px 0px rgba(1, 47, 254, 0.4);
          box-shadow: 0px 12px 4px 0px rgba(1, 47, 254, 0.4);
}

.works-swiper__btns .swiper-button-prev::after,
.works-swiper__btns .swiper-button-next::after {
  display: none;
}

.works-swiper__btns .swiper-button-prev {
  margin-right: 10px;
}

.works-slide {
  height: 416px;
  position: relative;
  overflow: hidden;
}

.works-slide__img {
  width: 100%;
  height: 100%;
}

.works-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works-slide__desc {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
  opacity: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

.works-slide__desc:hover {
  opacity: 1;
}

.works-slide__desc h3 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 8px;
}

.works-slide__desc p {
  font-size: 17px;
  color: #fff;
}

.more {
  width: 265px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #002EFE;
  font-size: 14px;
  border: solid 1px #002EFE;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.more svg,
.more svg path {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.more:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  background-color: #002EFE;
}

.more:hover svg {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.more:hover svg path {
  fill: #fff;
}

.partners {
  background-color: #212121;
  color: #fff;
  padding: 0px 10px;
  overflow: hidden;
}

.partners__wrapper {
  position: relative;
  padding: 87px 0px;
}

.partners__title {
  font-size: 43px;
  margin-bottom: 31px;
}

.partners__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 444px;
          flex: 0 1 444px;
  font-size: 13px;
  line-height: 1.3;
}

.partners__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 647px;
          flex: 0 1 647px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.partners__container-slider {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 30px;
}

.partners__swiper {
  width: 100%;
  position: static;
  padding: 0px 10px;
  margin: 0px;
}

.partners__swiper .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__swiper .swiper-slide-active {
  font-weight: 700;
  color: #fff;
  font-size: 30px;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.partners__swiper .swiper-button-next::after,
.partners__swiper .swiper-button-prev::after {
  display: none;
}

.partners__swiper .swiper-button-next path {
  fill: #fff;
}

.partners-slide {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.14);
  font-size: 28.876px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.current-slide {
  font-family: inherit;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 17px;
  color: #404040;
  font-family: 'Montserrat', sans-serif;
}

.current-slide b {
  color: #fff;
  font-size: 45px;
  margin-right: 5px;
}

.contacts {
  padding: 100px 10px;
}

.contacts__title {
  margin-bottom: 72px;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 488px;
          flex: 0 1 488px;
  margin-right: 20px;
}

.contacts__img {
  width: 100%;
  height: 285px;
  -webkit-box-shadow: 0px 55px 94px -28px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 55px 94px -28px rgba(0, 0, 0, 0.28);
  border-radius: 16px;
  overflow: hidden;
}

.contacts__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 410px;
          flex: 0 1 410px;
}

.contacts-item {
  margin-bottom: 10px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.3;
  max-width: 380px;
}

.contacts-item a {
  color: #000000;
  font-size: 18px;
}

.contacts-item a:hover {
  text-decoration: underline;
}

.bg {
  position: relative;
  overflow: hidden;
}

.bg__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.bg__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg__fgr {
  position: absolute;
  height: 100%;
  width: 100%;
}

.documents {
  padding: 50px 10px;
}

.documents__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.documents-item {
  cursor: pointer;
}

.works-page__body {
  padding: 160px 10px;
}

.work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 46px;
}

.work-item:last-child {
  margin-bottom: 0;
}

.work-item__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 396px;
          flex: 0 1 396px;
  margin-right: 20px;
}

.work-item__img {
  width: 100%;
  height: 285px;
  -webkit-box-shadow: 0px 55px 94px -28px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 55px 94px -28px rgba(0, 0, 0, 0.28);
  border-radius: 16px;
  overflow: hidden;
}

.work-item__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 654px;
          flex: 0 1 654px;
}

.work-item__text p {
  font-size: 16px;
  left: 1.3;
}

.footer {
  background-color: #212121;
  padding: 100px 10px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
}

.footer__logo a {
  color: inherit;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
}

.footer-item {
  max-width: 273px;
}

.footer-item li {
  margin-bottom: 18px;
}

.footer-item a {
  color: #797979;
  font-weight: 400;
  font-size: 16.5px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer-item a:hover {
  color: #fff;
}

.windmill {
  position: absolute;
  height: 1000px;
  width: 600px;
  bottom: 30%;
  right: -140px;
}

.windmill img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}

.windmill .blades {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: auto;
  height: auto;
  top: 60px;
  left: 2px;
  -webkit-animation-name: windmill;
          animation-name: windmill;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.windmill.mill-blur {
  -webkit-filter: blur(9px);
          filter: blur(9px);
  right: auto;
  left: -10%;
  bottom: 20%;
  width: 650px;
  height: 870px;
}

.windmill.mill-blur .blades {
  width: 70%;
  height: auto;
  top: 67px;
  left: 76px;
}

@-webkit-keyframes windmill {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes windmill {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .works-slide {
    height: 300px;
  }

  .partners__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .partners__text {
    margin-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .work-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .work-item__img {
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .header__logo {
    -webkit-box-shadow: none;
            box-shadow: none;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }

  .header__logo::before {
    display: none;
  }

  .header__logo .logo__wrapper {
    height: 100%;
  }

  .header__logo .logo__wrapper h2 {
    font-size: 20px;
  }

  .header__logo .logo__wrapper p {
    display: none;
  }

  .header__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }

  .vector-desctop {
    top: -51%;
  }

  .contacts__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__left {
    margin-right: 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 488px;
            flex: 0 1 488px;
  }

  .contacts__text {
    margin-top: 32px;
  }
}

@media (max-width: 600px) {
  .documents__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .bg__fgr {
    display: none;
  }
}

@media (max-width: 583px) {
  .vector-mobile {
    display: block;
    top: -37px;
  }

  .vector-desctop {
    display: none;
  }

  .btn-to-bottom {
    top: -57%;
  }

  .home__fgr-bottom {
    bottom: -30px;
  }
}

@media (max-width: 550px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
  }

  .header__nav {
    display: none;
  }

  .header .logo__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .burger-menu {
    display: block;
  }

  .burger-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .home h2 {
    font-size: 35px;
  }

  .home__sub-title p {
    font-size: 13px;
  }

  .home__btn {
    width: 272px;
    font-size: 10px;
  }

  .home__advantages {
    max-width: 301px;
  }

  .advantage-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 145px;
            flex: 0 1 145px;
  }

  .advantage-item__text {
    text-align: center;
  }

  .works__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .works-swiper__btns {
    margin-right: 40px;
  }

  .partners__container-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .partners-swiper {
    max-width: 145px;
    overflow: visible !important;
    position: relative;
    padding: 0px 30px;
    max-width: 233px;
  }

  .footer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .works-swiper__btns {
    margin-bottom: 50px;
  }
}
