
<section class="about __anim-item" id="about">
    <!-- <div class="about__bg">
        <img src="img/about-bg.png" alt="backgaround">
        <div class="about__bg-fgr">
            <img src="../img/windmill.png" alt="мельцины">
            <img src="../img/windmill.png" alt="мельцины">
        </div>
    </div> -->
    <div class="about__wrapper limiting ">
        <h2 class="about__title title">
            <span>О нас</span>
            
        </h2>
        <div class="about__body">
            <div class="about__text anim-bottom d-5s">
                <p>
                    Занимаемся
                    строительно-монтажными работами разного
                    уровня сложности. Ведем проекты 
                    на
                    территории Санкт-Петербурга и Лен.
                    Области. 
                    В качестве
                    генерального подрядчика выполнили 
                    и
                    сдали более 10 объектов, реализация
                    которых окончилась началом эксплуатации
                    по прямомуназначению.
                </p>
            </div>
            <a href="#contacts" class="btn">
                <span>Посмотреть контакты</span>
            </a>
        </div>
    </div>
</section>