

<section class="contacts __anim-item" id="contacts">
    <div class="contacts__wrapper limiting">
        <h2 class="contacts__title title"> <span>Контакты</span> </h2>
        <div class="contacts__body">
            <div class="contacts__left">
                <div class="contacts__img anim-opacity d-5s">
                    <img src="img/works/1.jpg" alt="">
                </div>
            </div>  
            <div class="contacts__right">
                <div class="contacts__text">
                    <div class="contacts__item contacts-item">
                        <p class="anim-bottom d-7s">
                            <b>Адрес:</b>
                            <a target="_blank"  href="https://yandex.uz/maps/-/CCUFMHAq~C">г.Санкт-Петербург, ш. Московское, дом 30, корп.2, лит. А,пом.48-Н, оф. 6</a>
                        </p>
                    </div>
                    <div class="contacts__item contacts-item">
                        <p class="anim-bottom d-9s">
                            <b>Email:</b>
                            <a href="mailto:mk-group78@mail.ru">mk-group78@mail.ru</a>
                        </p>
                    </div>
                    <div class="contacts__item contacts-item">
                        <p class="anim-bottom d-11s">
                            <b>Телефон:</b>
                            <a href="tel:89218888888"> 8 (921) 888 88 88</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>