<section class="documents __anim-item" id="documents">
    <div class="documents__wrapper limiting">
        <h2 class="documents__title title"><span>Документы</span></h2>
        <div class="documents__body">
            

            <div class="swiper-documents swiper">
                <div class="swiper-documents__wrapper swiper-wrapper">

                    <div class="slide-documents swiper-slide">
                        <div class="slide-documents__img">
                            <img src="img/pdf-icon.png" alt="pdf">
                        </div>
                        <div class="slide-documents__desc">
                            <p class="slide-documents__time">
                                13.04.2022
                            </p>
                            <h3 class="slide-documents__title">
                                Какой-то документ
                            </h3>
                        </div>
                    </div>

                    <div class="slide-documents swiper-slide">
                        <div class="slide-documents__img">
                            <img src="img/pdf-icon.png" alt="pdf">
                        </div>
                        <div class="slide-documents__desc">
                            <p class="slide-documents__time">
                                13.04.2022
                            </p>
                            <h3 class="slide-documents__title">
                                Какой-то документ
                            </h3>
                        </div>
                    </div>

                    <div class="slide-documents swiper-slide">
                        <div class="slide-documents__img">
                            <img src="img/pdf-icon.png" alt="pdf">
                        </div>
                        <div class="slide-documents__desc">
                            <p class="slide-documents__time">
                                13.04.2022
                            </p>
                            <h3 class="slide-documents__title">
                                Какой-то документ
                            </h3>
                        </div>
                    </div>

                    <div class="slide-documents swiper-slide">
                        <div class="slide-documents__img">
                            <img src="img/pdf-icon.png" alt="pdf">
                        </div>
                        <div class="slide-documents__desc">
                            <p class="slide-documents__time">
                                13.04.2022
                            </p>
                            <h3 class="slide-documents__title">
                                Какой-то документ
                            </h3>
                        </div>
                    </div>

                    <div class="slide-documents swiper-slide">
                        <div class="slide-documents__img">
                            <img src="img/pdf-icon.png" alt="pdf">
                        </div>
                        <div class="slide-documents__desc">
                            <p class="slide-documents__time">
                                13.04.2022
                            </p>
                            <h3 class="slide-documents__title">
                                Какой-то документ
                            </h3>
                        </div>
                    </div>
                    <div class="slide-documents swiper-slide">
                        <div class="slide-documents__img">
                            <img src="img/pdf-icon.png" alt="pdf">
                        </div>
                        <div class="slide-documents__desc">
                            <p class="slide-documents__time">
                                13.04.2022
                            </p>
                            <h3 class="slide-documents__title">
                                Какой-то документ
                            </h3>
                        </div>
                    </div>
                    
                </div>
                
                <div class="swiper-documents__nav">
                    <div class="swiper-pagination"></div>

                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div> 

<!--             
            <div class="documents__item documents-item anim-bottom d-5s">
                <div class="documents-item__img">
                </div>
            </div>
            <div class="documents__item documents-item anim-bottom d-9s">
                <div class="documents-item__img">
                    <img src="../img/pdf-icon.png" alt="pdf">
                </div>
            </div>
            <div class="documents__item documents-item anim-bottom d-11s">
                <div class="documents-item__img">
                    <img src="../img/pdf-icon.png" alt="pdf">
                </div>
            </div>
            <div class="documents__item documents-item anim-bottom d-13s">
                <div class="documents-item__img">
                    <img src="../img/pdf-icon.png" alt="pdf">
                </div>
            </div> -->

        </div>
    </div>
</section>