

<div class="footer">
    <div class="footer__wrapper limiting">
        <div class="footer__logo">
            <a href="#home">МК ГРУПП</a>
        </div>
        <div class="footer__body">
            <div class="footer__item footer-item">
                <ul>
                    <li><a href="#home">Главная</a></li>
                    <li><a href="works.html">Наши работы</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                    <li><a href="#documents">Документы</a></li>
                </ul>
            </div>

            <div class="footer__item footer-item">
                <ul>
                    <li><a href="tel:89218888888">8 (921) 888 88 88</a></li>
                    <li><a href="mailto:mk-group78@mail.ru">mk-group78@mail.ru</a></li>
                    <li><a target="_blank"  href="https://yandex.uz/maps/-/CCUFMHAq~C">ООО «МК ГРУПП»</a></li>
                    <li><a href="#documents">ИНН/КПП 7810921852/781001001 ОГРН 1217800099274</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>