

<header class="header">
    <div class="header__wrapper limiting">
        <div class="header__logo logo">
            <div class="logo__wrapper">

                <h2>МК Групп</h2>
                <p>Электросети</p>
            </div>
        </div>
        <nav class="header__nav">
            <ul class="nav-link">
                <li><a href="#home">Главная</a></li>
                <li><a href="#works">Наши работы</a></li>
                <li><a href="#contacts">Контакты</a></li>
                <li><a href="#documents">Документы</a></li>
                <li><a href="#partners">Партнёры</a></li>
                <li><a href="#about">Деятельность</a></li>
            </ul>
        </nav>
        <div class="burger-icon">
            <span></span>
        </div>
    </div>
</header>

<div class="burger-menu">
    <div class="windmill mill-blur">
        <img class="cone" src="img/cone.png" alt="">
        <img class="blades" src="img/blades.png" alt="">
    </div>
    <div class="burger-menu__wrapper">
        <div class="burger-menu__nav">
            <ul class="nav-link">
                <li><a href="#home">Главная</a></li>
                <li><a href="#works">Наши работы</a></li>
                <li><a href="#contacts">Контакты</a></li>
                <li><a href="#documents">Документы</a></li>
                <li><a href="#partners">Партнёры</a></li>
                <li><a href="#about">Деятельность</a></li>
            </ul>
        </div>
    </div>
</div>