



<section class="home __anim-item" id="home">

    <div class="home__bg">
        <img src="img/home-bg.png" alt="bg">

        <svg class="home__bg_vector1" width="1026" height="1002" viewBox="0 0 1026 1002" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.6" d="M-57 1001.5L1026 202.5L778 -48L-164 -76.5L-57 1001.5Z" fill="black"/>
        </svg>
        
        <svg class="home__bg_vector2" width="825" height="1208" viewBox="0 0 825 1208" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-0.000481827 654L772 0.499915L1201.58 339.433L1006.27 1207.46L-0.000481827 654Z" fill="#E5C182" fill-opacity="0.3"/>
        </svg>
            
            
    </div>

    <div class="home__wrapper limiting">
        <div class="home__body">
            <div class="home__title">
                <p class="anim-bottom">Строительные проекты</p>            
                <h2 class="anim-bottom">МК ГРУПП</h2>
            </div>

            <div class="home__sub-title anim-bottom d-3s">
                <p>
                    Строительно-монтажными работами 
                    разного
                    уровня сложности. Ведем проекты 
                    на
                    территории Санкт-Петербурга и Лен.
                    Области. 
                </p>    
            </div>

            

            <div class="home__advantages advantages-home">

                <div class="advantages-home__item advantage-item anim-left ">
                     <div class="advantage-item__img">
                        <img src="img/Mask-group.png" alt="">
                            
                     </div>
                     <div class="advantage-item__text">
                         <p>
                            Соответствие современным 
                            стандартам
                            качества
                        </p>
                     </div>
                </div>

                <div class="advantages-home__item advantage-item anim-right ">
                    <div class="advantage-item__img">
                        <img src="img/Mask-group1.png" alt="">
                    </div>
                    <div class="advantage-item__text">
                        <p>
                            Выполнение
                            обязательств в срок
                        </p>
                    </div>
               </div>

               <div class="advantages-home__item advantage-item anim-left d-3s">
                     <div class="advantage-item__img">
                         <img src="img/Mask-group2.png" alt="">

                     </div>
                     <div class="advantage-item__text">
                         <p>
                             <b>Идеальное</b> соотношение цены и качества
                         </p>
                     </div>
                </div>

                <div class="advantages-home__item advantage-item anim-right d-3s">
                    <div class="advantage-item__img">   
                        <img src="img/Mask-group3.png" alt="">
                            
                    </div>
                    <div class="advantage-item__text">
                        <p>
                            Готовность к сотрудничеству
                        </p>
                    </div>
               </div>

            </div>

            <a href="#contacts" class=" btn home__btn anim-opacity d-5s">
                <span>посмотреть контакты</span>
            </a>
        </div>
    </div>

    <!-- <div class="home__fgr-bottom">
        <svg class="vector-desctop" viewBox="0 0 2077 98" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0C285.704 12.25 1060.01 116.846 2077 0V98H1060.01H0V0Z" fill="white"/>
        </svg>

        <svg class="vector-mobile" width="375" height="185" viewBox="0 0 375 185" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-107 0C-17.275 24.5125 238.796 58.83 545.279 0V185H-107V0Z" fill="white"/>
        </svg>
            
        <button class="btn-to-bottom">
            <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.86925 0.93934C2.28347 0.353553 1.33372 0.353553 0.747934 0.93934C0.162147 1.52513 0.162147 2.47487 0.747934 3.06066L2.86925 0.93934ZM4.87486 7.18759L5.93552 8.24825L8.05684 6.12693L6.99618 5.06627L4.87486 7.18759ZM0.747934 3.06066L4.87486 7.18759L6.99618 5.06627L2.86925 0.93934L0.747934 3.06066Z" fill="white"/>
                <line x1="1.5" y1="-1.5" x2="5.90779" y2="-1.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 12.2383 2)" stroke="white" stroke-width="3" stroke-linecap="round"/>
            </svg>

            <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.86925 0.93934C2.28347 0.353553 1.33372 0.353553 0.747934 0.93934C0.162147 1.52513 0.162147 2.47487 0.747934 3.06066L2.86925 0.93934ZM4.87486 7.18759L5.93552 8.24825L8.05684 6.12693L6.99618 5.06627L4.87486 7.18759ZM0.747934 3.06066L4.87486 7.18759L6.99618 5.06627L2.86925 0.93934L0.747934 3.06066Z" fill="white"/>
                <line x1="1.5" y1="-1.5" x2="5.90779" y2="-1.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 12.2383 2)" stroke="white" stroke-width="3" stroke-linecap="round"/>
            </svg>
        </button>
        
    </div> -->

</section>