

<div class="partners partners__mob __anim-item" id="partners">
    <div class="partners__wrapper limiting">
        <h2 class="partners__title title"> <span>Наши партнёры</span> </h2>
        <div class="partners__body">
            <div class="partners__text anim-right d-5s">
                <p>Здесь будет какой-то текст о партнёрах Здесь будет какой-то текст о партнёрахЗдесь будет какой-то текст о партнёрахЗдесь будет какой-то текст о партнёрах Здесь будет какой-то текст о партнёрахЗдесь будет какой-то текст о партнёрах</p>
            </div>
            <div class="partners__right">
                <div class="partners__container-slider anim-opacity d-7s">
                    <div class="partners__swiper partners-swiper swiper">
                        <div class="swiper-wrapper">
                            <a href="http://electropult.ru/" class="swiper-slide partners-slide">
                                <img src="./img/partners/electropult.jpg" alt="electropult">
                            </a>
                            <a href="http://www.niiva.org/" class="swiper-slide partners-slide">
                                <img src="./img/partners/niiva.png" alt="niiva">
                            </a>
                            <!-- <a href="https://elektroapparat.ru/" class="swiper-slide partners-slide">
                                <svg class="icon icon_main-logo"><use xlink:href="https://elektroapparat.ru//sites/all/themes/ea/images/icons.svg#icon_logo-long_ru"></use></svg>
                            </a> -->
                            <a href="https://npoea.ru/" class="swiper-slide partners-slide">
                                <img src="./img/partners/npoea.png" alt="npoea">
                            </a>
                            <a href="https://rosseti-lenenergo.ru/" class="swiper-slide partners-slide">
                                <img src="./img/partners/rosseti.png" alt="rosseti">
                            </a>
                        </div>
                        <div class="swiper-button-prev">
                            
                            <svg style="transform: rotate(180deg);" width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.5" x2="14.8661" y2="-0.5" transform="matrix(0.672673 0.73994 0.73994 -0.672673 1 0)" stroke="#FEAC1C"/>
                                <line y1="-0.5" x2="14.8661" y2="-0.5" transform="matrix(-0.672673 0.73994 0.73994 0.672673 11 11)" stroke="#FEAC1C"/>
                            </svg>
                                
                        </div>
                        <div class="swiper-button-next">
    
                            <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.5" x2="14.8661" y2="-0.5" transform="matrix(0.672673 0.73994 0.73994 -0.672673 1 0)" stroke="#FEAC1C"/>
                                <line y1="-0.5" x2="14.8661" y2="-0.5" transform="matrix(-0.672673 0.73994 0.73994 0.672673 11 11)" stroke="#FEAC1C"/>
                            </svg>
                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="current-slide"></div>
            
            <div class="partners__mob-body">
                
                <a class="partners-item-mob" href="http://electropult.ru/" class="swiper-slide partners-slide">
                    <img src="./img/partners/electropult.jpg" alt="electropult">
                </a>
                <a class="partners-item-mob" href="http://www.niiva.org/" class="swiper-slide partners-slide">
                    <img src="./img/partners/niiva.png" alt="niiva">
                </a>
                <!-- <a class="partners-item-mob" href="https://elektroapparat.ru/" class="swiper-slide partners-slide">
                    <svg class="icon icon_main-logo"><use xlink:href="https://elektroapparat.ru//sites/all/themes/ea/images/icons.svg#icon_logo-long_ru"></use></svg>
                </a> -->
                <a class="partners-item-mob" href="https://npoea.ru/" class="swiper-slide partners-slide">
                    <img src="./img/partners/npoea.png" alt="npoea">
                </a>
                <a class="partners-item-mob" href="https://rosseti-lenenergo.ru/" class="swiper-slide partners-slide">
                    <img src="./img/partners/rosseti.png" alt="rosseti">
                </a>
            </div>
            <a href="#contacts" class="btn">
                <span>
                    Просмотреть контакты    
                </span>
            </a>
        </div>
    </div>
</div>