
<section class="works swiper __anim-item" id="works">
    <h2 class="works__title title limiting"><span>Наши проекты</span></h2>
    <div class="works__body">
        <div class="works__swiper works-swiper limiting">
            <div class="swiper-wrapper ">
                
                <div class="swiper-slide works-slide">
                    <div class="works-slide__img">
                        <img src="img/works/1.jpg" alt="">
                    </div>
                    <div class="works-slide__desc">
                        <h3>Какой-то проект</h3>
                        <p>Какой-то краткое описание</p>
                    </div>
                </div>
                
                <div class="swiper-slide works-slide">
                    <div class="works-slide__img">
                        <img src="img/works/2.jpg" alt="">
                    </div>
                    <div class="works-slide__desc">
                        <h3>Какой-то проект</h3>
                        <p>Какой-то краткое описание</p>
                    </div>
                </div>

                <div class="swiper-slide works-slide">
                    <div class="works-slide__img">
                        <img src="img/works/3.png" alt="">
                    </div>
                    <div class="works-slide__desc">
                        <h3>Какой-то проект</h3>
                        <p>Какой-то краткое описание</p>
                    </div>
                </div>
                

              </div>
              
              <div class="works__footer">
                    <div class="works-swiper__btns">
                        <div class="swiper-button-prev">
                            <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M-4.37114e-07 9L10.5 0.339744L10.5 17.6603L-4.37114e-07 9Z" fill="white"/>
                            </svg>
                                

                            </div>
                        <div class="swiper-button-next">
                            <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 9L0.5 0.339744L0.499999 17.6603L11 9Z" fill="white"/>
                            </svg>
                                
                        </div>            
                    </div>
                    <a href="works.html" class="works__more more">
                        <span>больше проектов</span>
                        <svg width="34" height="8" viewBox="0 0 34 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M33.3536 4.35355C33.5488 4.15829 33.5488 3.84171 33.3536 3.64645L30.1716 0.464466C29.9763 0.269204 29.6597 0.269204 29.4645 0.464466C29.2692 0.659728 29.2692 0.976311 29.4645 1.17157L32.2929 4L29.4645 6.82843C29.2692 7.02369 29.2692 7.34027 29.4645 7.53553C29.6597 7.7308 29.9763 7.7308 30.1716 7.53553L33.3536 4.35355ZM0 4.5H33V3.5H0V4.5Z" fill="#002EFE"/>
                        </svg>    
                    </a>
              </div>
        </div>
    </div>
</section>