.documents{


    padding: 50px 10px;
    &__body{
        overflow: hidden;
        // display: flex;
        // justify-content: space-between;
    }
}


.swiper-documents { 
    width: 248.75px;
    margin: 1px 1px;
    overflow: visible;

    &__nav{
        height: 70px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 535px;
        padding: 0px 50px;
        &:before,
        &:after{
            content: '';
            display: block;
            flex: 0 1 400px;
            height: 2px;
            background: linear-gradient(90deg, rgba(229, 193, 130, 0) 0.72%, #FFA913 55.54%, rgba(229, 193, 130, 0) 102.9%);

        }
        
        .swiper-pagination {
            margin-top: 19px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-pagination-bullet{
                width: 8px;
                height: 8px;
                background-color: rgba(254, 172, 28, 1);
                &-active{
                    // margin-top: 1.5px;
                    width: 11px;
                    height: 11px;
                }
            }
        }
        .swiper-button-prev,
        .swiper-button-next{
            color: rgba(254, 172, 28, 1);
            &::after{
                
                font-size: 20px ;
            }
        }
        
    }
}


.slide-documents{
    height: 467px;
    cursor: pointer;
    &__img{
        height: 382px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.3s;
        img{
            object-fit: contain;
        }
            &:hover{
                background-color: rgba(229, 193, 130, 0.72);
            }
    }
    &__desc{
        width: 100%;
        margin-top: 26px;
        font-size: 20px;
        opacity: 0;
        transition-duration: 0.3s;
    }
    &__time{
        color: #FEAC1C;
    }
}
.swiper-slide-active{
    .slide-documents__desc{
        opacity: 1;
        // transition-delay: 0.3s;
        // transition-delay: 0s;
    }
}



.documents-item{
    cursor: pointer;
}

@media (max-width: 600px) {
    .documents{

        &__body{
            flex-wrap: wrap;
            justify-content: start;
        }
    }
    .swiper-documents {
        width: 100%;
    }
}